.emversityContainer {
  width: 100%;
}

.ltdbg {
  color: var(--whitecolor);
  background-color: var(--blackBG);
}

.blackBG {
  background-color: var(--blackBG);
}

.ptb8 {
  padding-block: 8rem;
}

.container {
  width: 100%;
  max-width: 90%;
  margin: 0 auto;
  padding-inline: 3rem;
}

.g {
  display: grid;
}

.g2 {
  grid-template-columns: repeat(2, 1fr);
}

.gap8 {
  gap: 8rem;
}

.mgap0 {
  gap: 0rem;
}

.springboard {
  aspect-ratio: 100/22;
  background-color: var(--blackcolor);
  margin-block: 1.5rem;
}

.white {
  background-color: var(--whitecolor);
}

.gap3 {
  gap: 3rem;
}

.mb0 {
  margin-bottom: 0px;
}

.d30 {
  height: 3rem;
}

.h5 {
  font-family: var(--font-header);
  font-weight: 400;
  font-size: 2.4rem;
  line-height: 1.7em;
  margin-bottom: 1.5rem;
}

.img {
  max-width: 100%;
  height: auto;
}

.mimg11 {
  aspect-ratio: 1/1;
  object-fit: cover;
  position: relative;
}

.stickyWrapper {
  display: grid;
  align-items: start;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 10rem;
}

.h4 {
  font-family: var(--font-header);
  font-weight: 400;
  font-size: 3rem;
  line-height: 1.4;
  margin-bottom: 1.5rem;
}

.d20 {
  height: 2rem;
}

.h6 {
  font-family: var(--font-header);
  font-weight: 400;
  font-size: 2rem;
  line-height: 1.7em;
  margin-bottom: 1.5rem;
}

.bold {
  font-weight: 700;
}

.mb5 {
  margin-bottom: 0.5rem;
}

.d40 {
  height: 4rem;
}

.vCenter {
  align-items: center;
}

.p8 {
  padding: 8rem;
}

.block {
  display: block;
}

.ptb8Last {
  padding-block: 8rem;
}

.iframe {
  width: 100%;
  height: 850px;
  border: none;
}

/* Mobile Responsive */
@media only screen and (max-width: 767px) {
  .mgap3 {
    gap: 3rem;
  }
  
  .mimg11 {
    aspect-ratio: 1/1;
    object-fit: cover;
    position: relative;
  }
  
  .sticky {
    position: static;
  }
  
  .g2 {
    grid-template-columns: 1fr;
  }
}